/*------------------------------------*\
    $BASIC
\*------------------------------------*/
html, body { height: 100%;}
ul {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*------------------------------------*\
    $FULL BLOCK
\*------------------------------------*/
.full-block {
    position: relative;
    min-height: 100%;

    background-color: #141414;
}

.full-block > .content {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    color: #fff;
    text-align: center;
}

.full-block > .content {
    font-family: 'Rancho', cursive;
    font-size: 2em;
}

/**
 * Logo Block
 */
.logo-block {
    display: block;
    margin: 0 auto;
}

/*------------------------------------*\
    $WRAPPER
\*------------------------------------*/
.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px 48px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.full-block .wrapper {
    color: #fff;
}

/*------------------------------------*\
    $HORIZONTAL BAR
\*------------------------------------*/
.horizontal-bar {
    display: block;
    width: 100%;
    height: 10px;
    background-image: url("../img/horizontal-bar.png");
    background-position: left top;
    background-repeat: repeat-x;
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.primary-navigation {
    /*padding-top: 25px;*/
}

.primary-navigation > ul {
    width: 100%;
    display: table;
    table-layout: fixed;

    text-align: center;
    list-style: none;
}

.primary-navigation > ul li {
    display: table-cell;
    vertical-align: middle;
}

.primary-navigation > ul li a {
    display: block;
    padding: 30px;

    text-decoration: none;

    background-color: #1a1a1a;
    /*background-color: #141414;*/
    color: #fff;
}

.primary-navigation > ul li a:hover {
    background-color: #2c2c2c;
}

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
.content {
padding-top: 50px;
    margin-left: -72px;
    overflow: hidden;
}

.content-item {
    display: inline-block;
    vertical-align: top;
    padding-left: 72px;
}

.content-sidebar {
    width: 34%;
}

.content-main {
    width: 65%;
}

.content-full-width {
    width: 100%;
}

/*------------------------------------*\
    $BOX
\*------------------------------------*/

.box {
    display: inline-block;
    float: left;
    background-color: #ebebeb;
    text-align: center;
}

.box-three {
    width: 30.5%;
    margin-right: 4%;
}

.box-three:last-child { margin-right: 0;}

.box-three h3 {
    margin: 0;
    padding: 10px 0;
    background-color: #CCCCCC;
    color: #333;
}